<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item ms-5">
          <a class="nav-link float-right" href="#"><img src="https://img.icons8.com/material-rounded/30/000000/appointment-reminders.png"/></a>
        </li>
        <li class="nav-item ms-3">
          <a class="nav-link" href="#"><img src="https://img.icons8.com/ios-filled/30/000000/settings.png"/></a>
        </li>
      </ul>
    </div>
  </div>
</nav>